html, body {
  // background-color: #c628d7;
  font-family: 'Crimson Text', serif;
}

.container {
  #data-display {
    height: 55vh;
  }

  #data-input {
    height: 40vh;

    #inputTextarea {
      height: 90%;
      outline: none;
      background-color: #fafafa;
      border-radius: 10px;
      border: 0;
      font-size: 2em;
      padding: 15px;
      

      &:active {
        box-shadow: none;
      }


      @media screen and (max-width: 800px) {
        font-size: 1.3em;
      }

      @media screen and (max-width: 1200px) {
        font-size: 1.7em;
      }

    }
  }

}

